*{
  margin:0;
  padding:0  
}

body{
   
    font-family: 'Open Sans', sans-serif;
}

.container{
    background-color: #3E3C3E;
    
}

.link{
    color:white;
    margin-left:20px;
    text-decoration: none;
}

.logo{
    text-decoration:none;
    color:white;
}
header div a:hover{
    color:red;
}

header nav a:hover{
    color:red;
}
.header{
    display:flex;
    justify-content: space-around;
}

.main-section{
    color:white;
    margin-top:200px;
    position: relative;
    text-align: center;

}

.text-one{
    text-align:center;
    text-justify: center;
    font-size:50px;
    font: bold;
}

.text-two{
    text-align:center;
    text-justify: center;
    font-size: 30px;
    margin-top:20px;
    color:#D1D2D4;
    margin-bottom:30px
}

.frame{
    background-color: #3E3C3E;
    color: white;
    border: white solid;
    padding:10px 20px;
    margin: 0;
}

.button{
    text-decoration:none;
    color: white;
    font-size: 30px;
}

.main-section{
    Position: relative;
    text-align: center;
    padding: 100px;
}

.second-frame{
    color:black;
    background-color: #F2F2F2;
    font-size:20px;
    text-align: center;
    margin: 40px 30px;
    padding: 30px 80px;
    margin:0;
}

.text-three{
    color:grey;
}
.slider-smaller{
    width:80%;
    margin:auto;
}

@media(max-width:600px){.logo{
display:none;
}}

@media(max-width:600px){.link{
    display:none;
}}